@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0%;
    padding: 0;
}

body{
    display: flex;
    background-image: url("./images/bg-pattern-desktop.svg");
}

.main{
    min-height: 100vh;
    margin: 20px 200px 20px;
    margin-left: 100px;
    
}

.big{
    font-weight: 500;
    font-size: 60px;
    letter-spacing: 7px;
    line-height: 100%;
    text-transform: uppercase;
}

.were{
    margin-top: 100px;
    color: hsl(0, 36%, 70%);
    
    font-weight: 300;
}

.text{
    margin-top: 30px;
    color: hsl(0, 36%, 70%);
    line-height: 150%;
}

#form{
    box-sizing: border-box;
    padding:20px;
    border: 0ch;
    width: 200px;
    background: none;
    position: relative;
    margin-top: 30px;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 20px;
    height: 55px;
}
.right{
    width: 100%;
}
.button{
    left: -50px;
    height: 55px;
    position: relative;
    box-sizing: border-box ;
    width: 80px;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    background-image: linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%)); 
}

.button:active{
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
#form:active{
    border: 0ch;
}